services:
  app:
    build: .
    working_dir: /app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - .wrangler:/root/.config/.wrangler
    ports:
      - "5173:5173"

volumes:
  node_modules:
